* {
  font-family: "Noto Sans";
  text-align: center;
}
/* Changes text size of title page */
h1 {
	font-size: 40px;
	padding: 10px;
}
a:link, a:visited {
	color: black;
	padding: 14px 15px;
	text-decoration: none;
	display: inline-block;
	border: none;
	background-color: #c0c0ff;
	cursor: pointer;
	margin: 3px;
	border-radius: 5px;
	font-weight: bold;
}	

a:hover, a:active {
	background-color: #6a5acd;
	color: black;
}

/* Positions the image to the bottom right of the page */
img {
	display: block;
	margin: auto;
	padding: 70px;
	max-width: 100%;
	width: 200px;
	height: 170px;
}