div {
	  font-family: "Noto Sans", Arial, sans-serif;
	  text-align: center;
	}
	
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
	}
	
	a:link, a:visited {
	background-color: lightblue;
	color: black;
	padding: 14px 15px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

a:hover, a:active {
	background-color: #6a5acd;
	color: black;
}
	.save-button {
		margin: 0 0 40px 0 ;
		font-size: 20px;
		max-width:100%;
		border: none;
		background-color: #c0c0ff;
		cursor: pointer;
		padding: 5px;
		border-radius: 5px;
	}
	
	.save-button:hover {
		background-color: yellow;
	}	
	
	/* Positions the image to the bottom right of the page */
	img {
		display: block;
		margin: auto;
		padding: 70px;
		max-width: 100%;
		width: 200px;
		height: 170px;
	}
	