/* Changes text size of title page */
	h1 {
		font-size: 40px;
	}
	
	/* Changes size and position of paragraph text */
	p {
		margin-top: 100px;
		font-size: 20px;
	}	
	.login {
		position: relative;
		border-radius: 10px;
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px;
		border: 2px solid black;
		padding: 10px;
		height: 15px;
		width: 125px;
		margin: 5px;
	}
	.login:focus, .login:hover {
		outline: none;
		border: 2px solid blue;
	}
	input[type=submit] {
		margin: 5px 0 5px auto;
		height: 35px;
		line-height: 7px;	/* height - padding */
		font-weight: bold;
		width: 260px;
		background-color: white;
		cursor: pointer;
	}
