	body {
		  font-family: "Noto Sans", Arial, sans-serif;
		  text-align: center;
		}
		
	h1 {
		font-size: 40px;
		padding: 10px;
	}

	h2 {
		font-size: 30px;
	}

	a:link, a:visited {
		background-color: lightblue;
		color: black;
		padding: 14px 15px;
		text-decoration: none;
		display: inline-block;
	}

	a:hover, a:active {
		background-color: #6a5acd;
		color: black;
	}

	img {
		display: block;
		margin: auto;
		padding: 70px;
		max-width: 100%;
		width: 200px;
		height: 170px;
	}

	.buttonTxt {
		font-family: "Noto Sans", sans-serif;
	}
